body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 100vh;
}

.sprite {

    background-size: inherit !important;
    /* background-position-x: 10px, 100px; */
}