body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    z-index: 0;
}

.camera {
    background-color: white;
    z-index: -1;
}

.scene {
    
}

.black {
    background-color: rgb(85, 85, 85);
}

.green {
    background-color: rgb(23, 107, 23);
}