<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<style>
			body {
				perspective: 2100px;
			}

			.rectangle {
				background-color: rgb(192, 88, 88);
				position: absolute;
				width: 100px;
				height: 100px;
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 10, 0, 1, 0, 0, 0, -200, 1);
			}

			.i {
				width: 200px;
				height: 200px;
				transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 10, 0, 1, 0, 100, 0, 0, 1);
			}
		</style>
	</head>
	<body>
		<div class="rectangle "></div>
		<div class="rectangle i"></div>
	</body>
</html>
